<!DOCTYPE html>
<html>
<head>
  <title>New Post Notification</title>
</head>
<body>
<h1>New Post Notification</h1>
<p>Hello <%= @user['name'] %>,</p>
<p><%@this_user_name%>  has uploaded a post </p>
<!-- Additional HTML content here -->
</body>
</html>
